#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.aws-badge-card:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}


.aws-badge-card {
  cursor: pointer;
  transition: all 0.4s ease;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.aws-badge-card:hover {
  background: linear-gradient(180deg, #ffffff 0%, #f0f6ff 100%);
}

.aws-badge-card::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #0b1424, #0078ff);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}

.aws-badge-card:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

footer ul li {
  list-style: none;
  transition: color 0.3s ease;
}

footer ul li:hover {
  color: #3DFF6D !important;
}



/* Home */
.testimonial-card {
  transition: all 0.4s ease;
}

.testimonial-card:hover {
  transform: translateY(-8px);
}

.testimonial-scroll {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1.5rem;
  padding: 1rem;
}

.testimonial-scroll::-webkit-scrollbar {
  height: 6px;
}

.testimonial-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(61, 255, 109, 0.6);
  border-radius: 10px;
}
